.screen {
    width: 310px;
    height: 450px;
    /* border: 1px solid blue; */
}

.user-select-value {
    width: 300px;
    height: 40px;
    background-color: sienna;
    /* border: .5px solid green; */
}

.title-bar {
  width: 300px;
  height: 120px;
}

.title {
    width: 300px;
    height: 40px;
    background-color: lightskyblue;
    /* border: .5px solid blue; */
}

.title-display {
   overflow-y: hidden;
   width: 300px;
   height: 80px;
   background-color: black;
   color: white;
}

.value-name {
  width: 40px;
  height: 40px;
  background-color: magenta;
  /* border: .5px solid purple; */
}

.divider {
    width: 180px;
    height: 40px;
    background-color: black;
}

.user-select-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: darkgoldenrod;
    /* border: .5px solid gold; */
}

.reset-button {
    width: 100px;
    height: 45px;
    background-color: magenta;
}