.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 310px;
    height: 450px;
    /* border: 1px solid blue; */
}

.user-select-value {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 60px;
    background-color: sienna;
    /* border: .5px solid green; */
}

.title {
    width: 300px;
    height: 60px;
    background-color: lightskyblue;
    /* border: .5px solid blue; */
}

.value-name {
  width: 55px;
  height: 55px;
  background-color: magenta;
  /* border: .5px solid purple; */
}

.divider {
    width: 180px;
    height: 55px;
    background-color: black;
}

.user-select-button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: darkgoldenrod;
    /* border: .5px solid gold; */
}